/*desktop*/

.add-project-modal {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  transition: transform 0.2s;
}

.close-btn:hover {
  transform: scale(1.2);
  color: red;
}

.add-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.add-project input,
.add-project textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

fieldset {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.checkbox-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.checkbox-stack {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  font-size: 14px;
}

.checkbox-stack input {
  width: 16px;
  height: 16px;
  margin: 0;
}

.add-project .buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.add-project button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.add-project button:hover {
  transform: scale(1.05);
}

.add-btn {
  background-color: #007bff;
  color: white;
}

.add-btn:hover {
  background-color: #0056b3;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
}

.cancel-btn:hover {
  background-color: #b52b38;
}
