/* desktop */

.homepage {
  display: flex;
  flex-direction: row;
}

.imagehome {
  object-fit: contain;
  width: 30%;
}

.containerhome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homedescription {
  width: 80%;
  text-align: center;
}
