/* Desktop */

.navbar {
  position: fixed;
  top: 5px;
  left: 10px;
  width: calc(100% - 20px);
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.839);
  border-radius: 25px;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logonav {
  height: 35px;
  border-radius: 25px;
  margin-left: 15px;
}

.home-button {
  display: flex;
  align-items: center;
}

.navlist {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.navicone {
  display: flex;
  gap: 7%;
  margin-right: 45px;
}

.iconenav {
  color: black;
  font-size: 30px;
}

.cv-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.cv-button .iconenav {
  font-size: 30px;
  color: black;
}

.pdf-viewer {
  width: 100%;
  height: 100%;
  border: none;
}
