/* Desktop */

.navbar {
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.839);
  border-radius: 25px;
  margin-top: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logonav {
  height: 35px;
  border-radius: 25px;
  margin-left: 15px;
}

.home-button {
  display: flex;
  align-items: center;
}

.navlist {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.navicone {
  display: flex;
  gap: 7%;
  margin-right: 45px;
}

.iconenav {
  color: black;
  font-size: 30px;
}

.cv-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.cv-button .iconenav {
  font-size: 30px;
  color: black;
}

.custom-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal {
  background: white;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}
.pdf-viewer {
  width: 100%;
  height: 100%;
  border: none;
}
